@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #404040;
  color: white;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

.rectangle {
  z-index: 1;
  background-color: #ff5252;
  height: 100%;
  width: 115%;
  position: fixed;
  left: -15%;
  top: 0;
  transform: skew(0deg, 45deg);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.modal {
  z-index: 10;
  background-color: #505050;
  border-radius: 1.1rem;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 0 10rem 0 10rem;
}

.logo {
  z-index: 5;
  position: fixed;
  width: 10rem;
  height: 10rem;
  top: 2rem;
  right: 2rem;
}

.copy {
  z-index: 100;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
  opacity: 0.25;
}

.copy p {
  font-weight: 700;
  font-size: 2rem;
}

.content h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
}
.content p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3.35rem;
}

.since {
  background-color: #404040;
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 1.1rem;
  font-weight: 800;
  width: 50rem;
}
